@media screen and (max-width: 479px){


  .header {
    background-color: #141f40;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content:center;
    align-items: center;
  }
  
  .header-item-wrap {
    width: 60px;
    height: 160px;
    background-color: #fff;
  }
  
  .header-item {
    width: 40px;
    height: 40px;
    background-color: #a9004b;
    margin: 10px 10px auto;
  }
  
  .container {
    height: 300px;
  }
  
  .left {
    width: 200px;
    height: 100px;
    background-color: #80bfa8;
  }
  
  .right {
    width: 200px;
    height: 210px;
    background-color: #8c2727;
    display: flex;
    justify-content: center;
    align-items: center;
    }
  
  .right-wrap {
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .right-item {
    width: 140px;
    height: 40px;
    border: solid 5px #fff;
    background-color: #ff863f;
  }

  .right-item:nth-child(N + 2) {
    margin-top: 10px;
  }
  
  .footer {
    background: #d98d30;
    width: 200px;
    height: 100px;
  }
}
